{% extends 'dashboard/base.html' %} 
{% load static %} 

{% comment %} <!DOCTYPE html> {% endcomment %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body> 
{% block content%}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>📚 Personalized Study Planner</h1>

        <form method="POST" id="study-plan-form">
            {% csrf_token %}
            <div id="courses-container" class="d-inlign flex-column justify-content-center align-items-center">
                <input type="text" name="courses[]" placeholder="Course Name" class="">
                <input type="date" name="deadlines[]">
            </div>
            <div class="d-flex flex-column">
            
                <button class="my-2 btn-secondary" type="button" onclick="addCourse()">Add Course</button>
                <textarea class="my-2" name="preferences" placeholder="Enter your preferences"></textarea>
                <button class="my-2 btn-danger" type="submit">Generate Study Plan</button>
            </div>
        </form>
    </div>
    <div id="study-plan-output"></div>
    <script>
        function addCourse() {
            const container = document.getElementById('courses-container');
            container.innerHTML += `<div><input type="text" name="courses[]" placeholder="Course Name">
                                     <input type="date" name="deadlines[]"></div>`;
        }
    </script>
    {% endblock content%}
</body>


